@import url('https://cdn.jsdelivr.net/gh/mustafazeydani/Fonts/CursedTimerULiL/CursedTimerULiL.css');

body {
    margin: 0;
    
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.homeguest{
    /* position: absolute; */
    width: 155px;
    height: 120px;
    left: 82px;
    top: 55px;

    background: #080001;
    border-radius: 5px;
    
    margin: -50px 10px 10px -7px;
}

.score{
    /* position: absolute; */
    width: 150px;
    height: 120px;
    left: 100px;
    top: 125px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

.title{
    /* position: absolute; */
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

button{
    margin-top: 20px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: transparent;
    box-sizing: border-box;

/* position: absolute; */
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}

.new-game{
    color:white;
    border: none;
    width: 100%;
    font-size: 30px;
}